body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFDF6;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}

.row,
.col-6,
.col-4 {
  margin: 0;
  padding: 0;
}

.navLeft {
  display: block;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 16px;
}

.navLeft a {
  font-size: 45px;
  font-weight: 700;
  color: #20603D !important;
  text-decoration: none;
  transition: all .2s;
}

.navLeft p {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
}

.navbar-nav .nav-after {
  border-right: 1px solid #3c2323;
}

#vesNav .navbar-nav .nav-link {
  padding: 0 25px;
  color: #898787;
  transition: all 0.5s;
  font-weight: 500;
  transition: all 0.5s;
  line-height: 36px;
}

#vesNav .nav-link:hover {
  color: #20603D;
}

#vesNav .nav-link.active {
  color: #20603D;
  font-weight: 600;
}

/* Header */
.header {
  padding: 10px 0px 10px 0px;
}

.navbar-brand img {
  width: 30%;
}

.header-input .input-group {
  height: 50px;
  width: 90%;
}

.search-button {
  width: 20%;
  background-color: #20603D;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.Login-Register a {
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 2rem;
  position: relative;
}

.Login-Register a:nth-last-child(1) {
  margin-right: 0rem;
}

.badge {
  background-color: red;
  position: absolute;
  top: -20px;
  border-radius: 100px;
  padding: 5px 7px;
  font-size: 12px;
}

.name-button {
  padding: 5px 15px;
  border: 1px solid #e4e4e4;
  background-color: white;
  border-radius: 2px;
  margin: 0 15px;
}

.dropdown-menu {
  background-color: black !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.dropdown-menu a {
  padding: 10px 20px !important;
  color: #ffffff !important;
  margin: 0 !important;
}

.dropdown-menu a:hover {
  background-color: #20603D !important;
  color: #ffffff !important;
}

.mobile-header {
  display: none;
}

/* SHOP */
.section {
  width: 100%;
  padding-bottom: 6%;
  padding-top: 2%;
}

.sidebar_item {
  margin-bottom: 35px;
}

.sidebar_item h4 {
  color: #1c1c1c;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}

.sidebar_item ul {
  margin: 0;
  padding: 0;
}

.sidebar_item ul li {
  list-style: none;
  display: flex;
}

.sidebar_item ul li a {
  font-size: 16px;
  color: #000000;
  line-height: 45px;
  display: block;
  font-family: "Open Sans", sans-serif;
}

.sidebar_item ul li img {
  width: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.shop {
  margin-bottom: 50px;
}

.border-product {
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.shopBack {
  height: 250px;
  position: relative;
  overflow: hidden;
  width: 100%;

}

.shopBack img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.shoptext {
  padding-top: 10px;
}

.shoptext p a {
  color: #252525;
}

.shoptext h3 {
  color: #252525;
  margin-top: 13px;
  font-weight: bold;
  font-size: 19px;
}

.rating {
  margin: 5px 0;
}

.rating i {
  font-size: 12px;
  color: #ebb450;
}

.rating span {
  margin-left: 10px;
}

/* END OF SHOP */
/* Homepage */
/* History */
.homepage .container-fluid {
  padding: 0;
}

.row .col-4 {
  padding: 0 15px;
}

.history .colLeft {
  background-color: #20603D;
  color: #fff;
}

.history .colLeft .colTitle {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.history .colLeft h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.15;
  margin: 100px 0 32px;
}

.history .colLeft p {
  font-size: 20px;
  letter-spacing: 0.7px;
  margin: 32px 0;
}

.history .colLeft button {
  border: 2px solid currentcolor;
  color: #fff;
  padding: 12px 18px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 96px;
}

.history .colLeft button:hover {
  color: #08341c;
  border-color: #08341c;
}

.colRight,
.colLeft {
  padding: 0;
}

/* .history .colRight img {
          width: 100%;
          height: 560px;
          background-size: contain;
      } */

.history .colRight {
  background-image: url("https://res.cloudinary.com/trungquandev-com/image/upload/v1649952095/EC/bgr1_noyx2g.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Services */

.services__content p {
  font-size: 18px;
  margin-top: 32px;
  letter-spacing: 0.7px;
}

/* Number */

.number__content {
  text-align: center;
  background-image: url("https://res.cloudinary.com/trungquandev-com/image/upload/v1649952114/EC/number_jblxb0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.number__text {
  transform: translateY(45%);
}

.number .number__item {
  display: inline-block;
  text-align: center;
  padding: 0 30px;
  color: #fff;
}

.number .number__item span {
  font-size: 45px;
  font-weight: 600;
}

.number .number__item p:last-of-type {
  font-size: 20px;
}

.overlay {
  background: rgba(0, 0, 0, 0.211);
  width: 100%;
  height: 100%;
}

/* Intro */
.intro {
  color: #3c2323;
}

.intro__content {
  transform: translateY(10%);
  padding: 32px;
}

.intro__content h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 16px 0 32px;
}

.intro__content p {
  font-size: 19px;
  letter-spacing: 0.7;
}

.intro__content ul {
  letter-spacing: 0.7;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  padding-left: 32px;
}

.intro__bottom i {
  font-size: 20px;
  padding: 20px 5px;
}

.intro__bottom .gray {
  color: #BFB5B0;
}

.intro__bottom p:first-of-type {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.intro__bottom p:last-of-type {
  font-weight: 600;
}

.star i {
  color: #ffc371;
}

.homepage .section {
  padding: 75px 0;
}

.heading__brown {
  text-align: center;
  color: #3c2323;
}

.heading__brown p {
  font-weight: 600;
}

.heading__brown h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 16px 0 32px;
}

.heading__white {
  text-align: center;
  color: #fff;
}

.heading__white p {
  font-weight: 600;
}

.heading__white h2 {
  font-weight: 700;
  font-size: 45px;
  margin: 16px 0 32px;
}

.line {
  text-align: center;
  height: 2.5px;
  width: 96px;
  background-color: #3c2323;
  margin: 32px auto;
}

.line_w {
  text-align: center;
  height: 2.5px;
  width: 96px;
  background-color: #fff;
  margin: 32px auto;
}

/* NEWSLATTER */
.subscribe-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
    url("https://res.cloudinary.com/trungquandev-com/image/upload/v1650127825/EC/278184328_549185576537588_2059397206297704123_n_swqf4i.png") no-repeat scroll center / cover;
  padding: 100px 0 100px;
}

.subscribe-head h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 13px;
  text-transform: uppercase;
}

.subscribe-head p {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 39px;
}

.subscribe-head {
  text-align: center;
}

.form-section input[type="email"] {
  border: 0 none;
  border-radius: 25px;
  color: #9b9b9b;
  font-size: 16px;
  font-style: normal;
  height: 51px;
  letter-spacing: 0;
  text-align: center;
  width: 460px;
}

.form-section input[type="submit"] {
  background: #20603D;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  height: 52px;
  letter-spacing: 0;
  margin-left: -60px;
  padding: 0 58px;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 1px;
}

/* CONTACT */
.contactInfo {
  padding: 70px 0;
}

.contact-Box,
.box-info,
.info-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-info {
  width: 80%;
  flex-direction: column;
  padding: 40px 0;
  box-shadow: 0px 0px 27px 0px rgb(225 222 222);
}

.info-image {
  width: 50px;
  height: 50px;
  border: 2px solid #ffc371;
  border-radius: 100px;
  font-size: 20px;
  color: #ffc371;
}

.box-info h5 {
  font-weight: bold;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.box-info p {
  font-size: 16px;
}

/* SINGLE PRODUCT */
.single-product {
  margin-top: 50px;
  margin-bottom: 50px;
}

.single-image {
  margin-right: 20px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-image img {
  width: 90%;
  height: 700px;
  object-fit: contain;
}

.product-name {
  font-size: 25px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 30px;
}

.display-flex {
  display: flex;
}

.product-info {
  width: 100%;
}

.product-dtl p {
  line-height: 24px;
  color: #7a7a7a;
}

.product-count {
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  margin-top: 40px;
}

.product-count .flex-box {
  padding: 15px 25px;
  border-bottom: 2px solid #f3f3f3;
}

.product-count .flex-box h6 {
  font-size: 16px;
}

.product-count .flex-box span {
  font-weight: 600;
  color: #000000;
}

.product-count .flex-box select {
  background-color: #f3f3f3;
  width: 100px;
  height: 40px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}

.round-black-btn {
  border-radius: 4px;
  background: #000000;
  color: #fff;
  width: 100%;
  height: 50px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover,
.round-black-btn:focus {
  background: #20603D;
}

/* LOGIN */
.login-center {
  padding: 50px 0;
}

.Login,
.Login2 {
  background: #fff;
  border-radius: 5px;
  position: relative;
  padding: 35px 30px 30px;
  box-shadow: 0 1px 11px rgba(168, 168, 168, 0.27);
  text-align: center;
}

.Login input {
  width: 100%;
  padding: 20px 20px;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #8a8a8a;
}

.Login input:focus {
  outline: 0px;
}

.Login button,
.Login2 button {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  border: 0;
  background-color: #20603D;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
}

.Login button a,
.Login2 button a {
  text-transform: uppercase;
  color: white;
}

.Login p {
  margin-top: 30px;
}

.Login p a {
  color: #7a7a7a;
}

/* PROFILE */
.author-card {
  position: relative;
}

.author-card-cover {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-image: url("https://gust.com/assets/blank_slate/Gust_Profile_CoverPhoto_Blank-21edf1e2890708d5a507204f49afc10b7dc58eb7baea100b68a1bc2c96948297.png");
}

.author-card-profile {
  padding: 20px 10px;
}

.author-card-avatar {
  padding: 0 20px;
}

.author-card-avatar img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 100px;
  margin-top: -60%;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.377);
}

.wizard .nav button {
  padding: 15px 20px;
  font-size: 13px;
  background-color: #ffffff;
  color: black;
  width: 100%;
  text-align: start;
  border-radius: 0;
  text-transform: uppercase;
  border-top: 1px solid #e4e4e4;
}

.wizard .nav .active {
  background-color: #e5fee9;
  color: black;
}

.badge2 {
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #ffffff;
}

.form {
  padding: 20px 0;
}

.form label {
  padding: 10px 0;
  color: #8a8a8a;
  text-transform: uppercase;
  font-size: 13px;
}

.form input {
  padding: 20px 10px;
  font-size: 17px;
  background-color: #e5fee9;
}

.form-container button {
  padding: 15px 0;
  border: 0px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #20603D;
  color: #ffffff;
}

/* orders */
.link {
  color: blue;
  border-bottom: 1px solid blue;
  padding-bottom: 5px;
  font-size: 15px;
}

.link:hover {
  color: blue;
}

.table-responsive {
  width: 100%;
}

/* CART */
.cart-iterm {
  margin: 40px 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
  position: relative;
}

.remove-button {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.cart-image img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.cart-text a h4,
.cart-price h4 {
  font-size: 17px;
  font-weight: bold;
}

.cart-text p {
  margin-top: 10px;
  font-size: 15px;
  color: #7a7a7a;
}

.cart-qty select {
  width: 100%;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.cart-qty h6,
.cart-price h6 {
  margin-bottom: 15px;
  color: #8c8c8c;
  font-size: 13px;
  text-transform: uppercase;
}

.total {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: end;
  padding: 0 30px;
}

.total .sub {
  color: #8c8c8c;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
}

.total .total-price {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.cart-buttons {
  margin: 90px 0;
}

.cart-buttons a button,
.cart-buttons div button {
  width: 80%;
  padding: 15px 0;
  border: 0px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #20603D;
  color: #ffffff;
}

.cart-buttons a:nth-child(1) button {
  background-color: #c7c4b9;
  color: #000000;
}

/* FOOTER */
.footer {
  background: #08341c;
  color: #fff;
}

#button-addon1 {
  color: #ffc371;
}

.list-inline-item i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.coppyRight {
  background: #000;
  color: #fff;
}

.font-italic {
  font-style: italic;
}

.font-weight-bold {
  font-weight: 700;
}

/* Payment */
.payment-container {
  margin-top: 20px;
}

.radio-container {
  padding: 10px 0;
  text-align: start;
}

.radio-container input {
  font-size: 17px;
}

.radio-container label {
  padding: 0 20px;
  font-size: 17px;
}

.order-detail p {
  margin-top: 2px;
}

.order-detail {
  padding: 30px 0;
  background-color: #e5fee9;
}

.order-detail h5 {
  margin-bottom: 6px;
}

.order-box {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.order-product {
  margin: 40px 0;
  border-bottom: 2px solid #f3f3f3;
  position: relative;
}

.order-product h4 {
  font-size: 13px;
  margin-bottom: 10px;
}

.order-product img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.table-bordered {
  background-color: #f3f3f3;
}

.subtotal-order button {
  width: 100%;
  padding: 15px 0;
  border: 0px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #20603D;
  color: #ffffff;
}

/* Pagination */
.pagination .page-link {
  padding: 10px 30px;
  color: black;
}

.page-item.active .page-link {
  background-color: black;
  border: 1px solid black;
}

.alert-info {
  background-color: #fff;
  color: #20603D;
  border-color: #fff;
}

.btn-success {
  background-color: #20603D;
}

.btn-success:hover {
  background-color: 084830;
}
.btn-group > .show {
  position: absolute;
  transform: translate3d(15px, 36px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
